//cores
$cor-primaria: #2a5a9a; 
$cor-secundaria: #ffffff;

//fontes
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
$fonte-principal: 'Roboto', sans-serif;
$rubik: 'Rubik', sans-serif;